body{
    background-image: url('background.jpg');
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.container {
    max-width: 10000000px; /* Largeur maximale du cadre */
    padding: 20px;
    border: 1px solid #000000; /* Bordure */
    border-radius: 30px; /* Coins arrondis */
    background-color: #adafbd; /* Couleur de fond */
    overflow-x: auto;
    text-align: center;
}
#imagePreviewContainer {
    background-color: #1c1723; 
}
h1 {
    font-size: 3em; /* Vous pouvez ajuster cette valeur selon votre préférence */
    color: rgb(255, 255, 255);
}   
.custom-file-input {
    display: inline-block;
    width: 200px;
    height: 40px;
    padding: 10px;
    background-color: #1c1723;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 11.25px;
}

.custom-file-input:hover {
    background-color: #585c76;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
button{
    display: inline-block;
    width: 100px;
    height: 40px;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 11.25px;
    border-radius: 30px; 
}
button:hover {
    background-color: #585c76;
}
nav{
    background-color: #1c1723;
    color: #adafbd;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
}
nav a img {
    max-height: 22px;
}
h3{
    color: white;
}