{% extends "base.html" %}

{% block title %}Bravo{% endblock %}
{% block haut %}Bravo!!{% endblock %}
{% block content %}
    <h1>Votre image a éte identifier avec succées</h1>
    <p>Vous êtes identifier en tant que utilisateur numero {{ id }} </p>
    {% if eye == L %}
        <p>L'oeil: Gauche</p>
    {% else %}
        <p>L'oeil: Droite</p>
    {% endif %}  
    <p>{{pic}}</p>  
    <img src="{{ url_for('static', filename='result.png')}}">
    <a href="{{ url_for('home') }}">
        <p>Revenir a la page d'acceuil</p>
    </a>
{% endblock %}